﻿@model FootascrazyCarSales.Models.Car.CarVm

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Entity.Name, @Model.Entity.Description</h2>

<table>
    <tr>
        <td>Make</td>
        <td>@Model.Entity.Make</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>@Model.Entity.Model</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>@Model.Entity.Year</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.DisplayRelevantPrice()</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Entity.Email</td>
    </tr>
    @if(Model.DisplayPrivateSaleDetails()){
        <tr>
            <td>Phone</td>
            <td></td>
        </tr>
        <tr>
            <td>Contact Name</td>
            <td></td>
        </tr>
    } else {
        <tr>
            <td>Dealer ABN</td>
            <td>@Model.Entity.DealerAbn</td>
        </tr>
    }
    <tr>
        <td>Comments</td>
        <td>@Model.Entity.Comments</td>
    </tr>
</table>

@{Html.RenderAction("Create", "Enquiry", new { id = Model.Entity.Id });}