﻿@using FootascrazyCarSales.Application.Dto.Car

@model FootascrazyCarSales.Models.Car.CarListingVm

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars</h2>

<table>
    <thead>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>More Details</th>
    </thead>
    <tbody>
    @{
        foreach (CarDto carDto in Model.Listings)
        {
            <tr>
                <td>@carDto.Make</td>
                <td>@carDto.Model</td>
                <td>@carDto.Year</td>
                <td><a href="@Url.Action("Detail", "Car", new { @id = carDto.Id })">View</a></td>
            </tr>
        }   
    }
    </tbody>
</table>
