﻿@model FootascrazyCarSales.Models.Enquiry.EnquiryVm

@{ Layout = null; }

@using (Html.BeginForm()){
    
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.Entity.CarId)

    <fieldset>
        <legend>Make an Enquiry</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Entity.EnquirerName)
                @Html.TextBoxFor(m => m.Entity.EnquirerName)
            </li>
            <li>
                @Html.LabelFor(m => m.Entity.EnquirerEmail)
                @Html.TextBoxFor(m => m.Entity.EnquirerEmail)
            </li>
        </ol>
        <input type="submit" value="Enquire" />
    </fieldset>
    
}