﻿@model FootascrazyCarSales.Models.Enquiry.EnquiryVm

@{
    Layout = null;
}

<h2>Enquiry Submitted</h2>

<p>
    Thanks for your enquiry regarding @Model.Entity.CarDescription
    It has been forwarded straight to Footascrazy. We hope to hear more from you!
</p>